@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,600;0,700;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Raleway:wght@100;300;400;600;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap');

@import './variables.scss';
@import './ui.scss';
@import './products.scss';

html,
body {
	padding: 0;
	margin: 0;
	font-family: 'Sen', sans-serif;
}
a {
	color: inherit;
	text-decoration: none;
}

* {
	box-sizing: border-box;
}

h1 {
	font-size: $h1-font-size;
	font-weight: $font-normal;
}
h2 {
	font-size: $h2-font-size;
	font-weight: $font-normal;
}
h3 {
	font-size: $h3-font-size;
	font-weight: $font-normal;
}
h4 {
	font-size: $h4-font-size;
	font-weight: $font-normal;
}
h5 {
	font-size: $h5-font-size;
	font-weight: $font-normal;
}
/* input webkit autofill */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	background-color: transparent !important;
	-webkit-text-fill-color: white !important;
	transition: background-color 10000s ease-in-out 0s;
	caret-color: white;
}
/* main bg image */
.next_start {
	background-color: #0a0a0b;
	color: #babec4;
	min-height: 100%;
}
.main {
	padding: 1rem;
}
/* .next_start::before {
  content: '';
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -5;
  background-image: linear-gradient(rgba(50, 70, 80, 0.9) 0px, rgb(13, 16, 27) 100%);
}

.next_start {
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  z-index: -10;
}
.next_start::after {
  content: '';
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: -10;
  background-image: url('/cover.jpg');
  background-size: cover;
  background-position: center;
}
.main::after {
  content: '';
  position: absolute;
  height: 100vh;
  width: 100%;
  top:0;
  z-index: -5;
  background-image: url('/pattern.png');
  background-size: 2.875rem;
} */
/* modal open close */
.modal {
	opacity: 0;
	pointer-events: none;
	transition: all 0.3s ease;
}
.modal.show {
	opacity: 1;
	pointer-events: auto;
}
/* modal card */
.modal-card::before {
	content: '';
	position: absolute;
	border-top: 1px solid rgba(255, 255, 255, 0.6);
	border-bottom: 1px solid rgba(255, 255, 255, 0.6);
	left: 15px;
	right: 15px;
	top: 0;
	bottom: 0;
}
.modal-card::after {
	content: '';
	position: absolute;
	border-right: 1px solid rgba(255, 255, 255, 0.6);
	border-left: 1px solid rgba(255, 255, 255, 0.6);
	top: 15px;
	bottom: 15px;
	right: 0;
	left: 0;
}
/* modal card arrows */
/* top-left arrow */
.modal-card-arrow-top-left::before {
	content: '';
	position: absolute;
	top: 0px;
	left: 0;
	width: 2px;
	height: 8px;
	background-color: white;
}
.modal-card-arrow-top-left::after {
	content: '';
	position: absolute;
	top: 0px;
	left: 0px;
	width: 8px;
	height: 2px;
	background-color: white;
}

/* top-right arrow */
.modal-card-arrow-top-right::before {
	content: '';
	position: absolute;
	top: 0px;
	right: 0;
	width: 2px;
	height: 8px;
	background-color: white;
}
.modal-card-arrow-top-right::after {
	content: '';
	position: absolute;
	top: 0px;
	right: 0px;
	width: 8px;
	height: 2px;
	background-color: white;
}
/* bottom-right arrow */

.modal-card-arrow-bottom-right::before {
	content: '';
	position: absolute;
	bottom: 0px;
	right: 0;
	width: 2px;
	height: 8px;
	background-color: white;
}
.modal-card-arrow-bottom-right::after {
	content: '';
	position: absolute;
	bottom: 0px;
	right: 0px;
	width: 8px;
	height: 2px;
	background-color: white;
}

/* bottom-left-arrow */

.modal-card-arrow-bottom-left::before {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0;
	width: 2px;
	height: 8px;
	background-color: white;
}
.modal-card-arrow-bottom-left::after {
	content: '';
	position: absolute;
	bottom: 0px;
	left: 0px;
	width: 8px;
	height: 2px;
	background-color: white;
}

/* hamburger button */
.open .hamburger-top {
	transform: rotate(45deg) translate(6px, 6px);
}
.open .hamburger-middle {
	display: none;
}
.open .hamburger-bottom {
	transform: rotate(-45deg) translate(-6px, 6px);
}
/* sideMenu open close */
.sideMenu {
	transform: translateX(-100%);
	transition: all 0.3s;
}
.sideMenu.open {
	transform: translateX(0);
}
/* userPhone dropdown arrow */
.userPhone {
	position: relative;
}
.userPhone::after {
	content: '\f0dd';
	font-family: 'Font Awesome 5 Free';
	font-weight: 600;
	position: absolute;
	bottom: 3px;
	right: -15px;
}
/* userDropdown open close */
.userDropdown {
	transform: translateX(100%);
	transition: transform 0.3s;
}
.userDropdown.open {
	transform: translateX(0);
}
